<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="StructureMap"
        type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>
  <StructureMap>
    <Instance
        PluginType="Shop.Cashier.Core.Discount.IDiscountCalculate,Shop.Cashier.Core"
        PluggedType="Shop.Cashier.Plugins.TowGiveOne,Shop.Cashier.Plugins"
        Scope="PerRequest" />
    <Instance
        PluginType="Shop.Cashier.Core.Discount.IDiscountCalculate,Shop.Cashier.Core"
        PluggedType="Shop.Cashier.Plugins.PriceRebate,Shop.Cashier.Plugins"
        Scope="PerRequest"
        Name="aaa"/>
  </StructureMap>
</configuration>