<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="StructureMap"
        type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>
  <StructureMap MementoStyle="Attribute">
    <Instance
        PluginType="Shop.Cashier.Core.Discount.IDiscountCalculate,Shop.Cashier.Core"
        PluggedType="Shop.Cashier.Plugins.TowGiveOneDiscount,Shop.Cashier.Plugins"
        Scope="PerRequest" />
  </StructureMap>
</configuration>